
<form action="/users" method="post">
  <div>
    <label for="email">Email:</label>
    <input type="text" name="email" placeholder="enter email address" required="true">
  </div>
  <div>
    <label for="user_name">Username:</label>
    <input type="text" name="username" placeholder="enter username" required="true">
  </div>
  <div>
    <label for="p_word">Password:</label>
    <input type="password" name="password" placeholder="enter password" required="true">
  </div>
  <div class="button">
    <input type="submit" value="Create user">
  </div>
</form>
